# Environmental Variables
NODE_ENV=development # development, production
PORT=8080
MAX_TREE_DEPTH=25
APP_ORIGIN=http://localhost:5173 # frontend url

# Secret Keys
MONGO_URI=mongodb://localhost:27017/leaves
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret
EMAIL_SENDER=domain@example.com # a verified sender email
RESEND_API_KEY=your-resend-api-key

# Azure-specific (production)
KEY_VAULT_URL=https://your-keyvault-name.vault.azure.net/
APPLICATIONINSIGHTS_CONNECTION_STRING=your-app-insights-connection