# Environmental Variables
NODE_ENV=development
APP_ORIGIN=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/leaves
PORT=8080
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret
# a verified sender email
EMAIL_SENDER=verified-sender@example.com
RESEND_API_KEY=your-resend-api-key
MAX_TREE_DEPTH=25

# Azure-specific (production)
KEY_VAULT_URL=https://your-keyvault-name.vault.azure.net/
APPLICATIONINSIGHTS_CONNECTION_STRING=your-app-insights-connection