/* Poppins and Baskervville */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
/* The HTML element - used for defining global vars */
:root {
  --color1: #ffffffde;
  --color2: #178582;
  --color3: #BFA181;
  background-color: #242424;
}
/* The actual id=root element */
#root {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
*, *::before, *::after {
  /* Arial/sans-serif fallback fonts */
  font-family: "poppins", arial, sans-serif;
  color: var(--color1);
  text-decoration: none;
}
/* p {
  text-align: left;
} */

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--color1);
  text-transform: uppercase;
}
.navbar .links {
  display: flex;
}
ul, li {
  list-style-position: outside; /* Bullet points outside */
  margin-left: 1.5rem;          /* Space for bullets */
  text-align: left;            /* Align text properly */
  list-style-type: none;
}

/* BUTTON STYLES */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
